fastapi
pydantic
uvicorn
ragas
datasets
torch
sentence_transformers
transformers
pandas
numpy
langchain_huggingface
rank_bm25
langchain==0.1.16
langchain-core==0.1.43
langchain-openai==0.1.3
faiss-cpu
unstructured
typing_extensions